<div class="container">
<div class="row weather-box">
  <% if @ship_to_city_weather.present? %>

   <h4>Weather conditions for <%= @ship_to_city_weather %></h4>
      <div>
        <p>Partly Cloudy</p>
        <p><strong>55<sup>&deg;</sup></strong></p>
      </div>

    <% end %>
</div>
</div>
