<div class="container">
<h2>Ship your package</h2>
<div class="row">
<form id="myform" class="mysign-in" action="/shipping" method="post">
    <div class="col-xs-5">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <div id="errors">
    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
  </div>

  <div class="form-container">
    <h3 class="section-title">From</h3>

        <input type="text" name="from_address[company]" class="form-control" placeholder="Name" required>



        <input type="text" name="from_address[street1]" class="form-control" placeholder="Street Address" required>



        <input type="text" name="from_address[city]" class="form-control" placeholder="City" required>



        <input type="text" name="from_address[state]" class="form-control" placeholder="State" required>


        <input type="text" name="from_address[zip]" class="form-control" placeholder="ZIP" required>
  </div>
</div>

  <div class="col-xs-2">
    <p class="pack-icon">
    <img alt="Package Details" src="//easypost-static.s3.amazonaws.com/assets/transfer-0bb2412a71f8ea9e2017c110062d3e21.png">
    </p>
  </div>

   <div class="col-xs-5">
  <div class="form-container">
    <h3 class="section-title">To</h3>


        <input type="text" name="to_address[name]" class="form-control" placeholder="Name" required>



        <input type="text" name="to_address[street1]" class="form-control" placeholder="Street Address" required>



        <input type="text" name="to_address[city]"  class="form-control" placeholder="City" required>



        <input type="text" name="to_address[state]" class="form-control" placeholder="State" required>



        <input type="text" name="to_address[zip]" class="form-control" placeholder="ZIP" required>

    </div>
  </div>

      <div class="col-xs-6">
    <div class="form-container">
      <h3 class="section-title">Parcel Size</h3>



          <input type="text" name="parcel[length]" class="form-control" placeholder="Length" required>



          <input type="text" name="parcel[width]" class="form-control" placeholder="Width" required>



          <input type="text" name="parcel[height]" class="form-control" placeholder="Height" required>



          <input type="text" name="parcel[weight]" class="form-control" placeholder="Weight" required>
        </div>
        </div>

      <div class="col-xs-6">

    <div class="print-label btn pull-right">
      <button type="submit" class="btn btn-basic "><span class="glyphicon glyphicon-print"></span> Print Shipping Label</button>
  </div>
  <p class="text-mute pull-right">You will be redirect to external link to print your label.</p>
  </div>
  </form>
</div>

</div>
