<div class="container">
<h2>Shipping#ship</h2>
<p>Find me in app/views/shipping/ship.html.erb</p>

<form id="myform" class="mysign-in" action="/shipping" method="post">
  <div class="row">
    <div class="col-xs-6">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <div id="errors">
    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
  </div>

  <div class="form-container">
    <h3>From Address:</h3>

        <input type="text" name="from_address[company]" class="form-control" placeholder="Name" required>



        <input type="text" name="from_address[street1]" class="form-control" placeholder="Street Address" required>



        <input type="text" name="from_address[city]" class="form-control" placeholder="City" required>



        <input type="text" name="from_address[state]" class="form-control" placeholder="State" required>


        <input type="text" name="from_address[zip]" class="form-control" placeholder="ZIP" required>
  </div>

  <div class="form-container">
    <h3>To Address:</h3>


        <input type="text" name="to_address[name]" class="form-control" placeholder="Name" required>



        <input type="text" name="to_address[street1]" class="form-control" placeholder="Street Address" required>



        <input type="text" name="to_address[city]" class="form-control" placeholder="City" required>



        <input type="text" name="to_address[state]" class="form-control" placeholder="State" required>



        <input type="text" name="to_address[zip]" class="form-control" placeholder="ZIP" required>


    <div class="form-container">
      <h3>Parcel Dimentions:</h3>



          <input type="text" name="parcel[length]" class="form-control" placeholder="Length" required>



          <input type="text" name="parcel[width]" class="form-control" placeholder="Width" required>



          <input type="text" name="parcel[height]" class="form-control" placeholder="Height" required>



          <input type="text" name="parcel[weight]" class="form-control" placeholder="Weight" required>

    </div>
    <div class="btn">
    <button type="submit" class="button">Print Label</button>
    </div>
  </form>
</div>
</div>
<div class="row">
    <div class="col-xs-6">
    </div>
    </div>
</div>
