<div class="container">
  <div class="col-xs-8">

    <h3><strong>velox</strong> app works for all of your shipping label needs.</h3>
    <p class="copy-imp">Get labels and discounted rates from 140+ domestic and international carriers.</p>
    <p class="copy-imp">You don’t need separate accounts with a carrier. Get started right away with our default accounts!</p>
    </div>
  <div class="col-xs-4">
 <h4><%=Time.now.strftime("%A %B %d %Y") %><br/>
   <span class="glyphicon glyphicon-map-marker"></span> <span><strong> <%= @city %></strong></span></h4>
 <p class="temp"><%=@weather['currently']['temperature'].floor %><sup class="sup">&deg; | F</sup></p>
 <p class="summary"><%=@weather['currently']['summary'] %></p>
</div>
<div class="col-xs-6">
<h3>Ship</h3>
</div>
<div class="col-xs-6">
  <h3>Track</h3>
</div>
</div>
