<footer class="container">
<p class="pull-right"><a href="/"><strong>velox</strong><i class="glyphicon glyphicon-random"></i> </a>  | <a href="/">Terms &amp; Policies</a> | <strong>CC</strong> <%= Time.now.year %> </p>
</footer>
