<div class="top-header">
<div class="container">
<div class="col-md-4">
<h1 class="brand"><a href="/">velox<i class="glyphicon glyphicon-random"></i></a></h1>
</div>
<div class="col-md-8">
<ul class="nav navbar-nav navbar-right">
  <li><a class="sub-nav" href="/shipping">Ship</a></li>
  <li><a class="sub-nav" href="/tracking">Track</a></li>
  <li><a class="sub-nav" href="/">Logistics</a></li>
  <li><a class="sub-nav" href="/">Sign Up</a></li>
</ul>
</div>
</div>
<div class="container">
  <div class="col-xs-8">
<h2 class="jumbo-title">Shipping &amp; Tracking Easy</h2>
<p class="jumbo-purpose"><strong>velox</strong> is an app to instantly <a style="color: ghostwhite;" href="/shipping"><strong>create</strong></a> and <a style="color: ghostwhite;" href="/tracking"><strong>manage</strong></a><br/>
                         shipping labels with our multi-carrier.</p>
</div>
<div class="col-xs-4">
<span class="pull-right"><%= image_tag "mailing_label.png" %></span>
</div>
</div>
</div>
