<div class="container">
<div class="col-md-4">
<h1 class="brand"><a href="/">velox<i class="glyphicon glyphicon-random"></i></a></h1>
</div>
<div class="col-md-8">
<ul class="nav navbar-nav navbar-right">
  <li><a class="sub-nav" href="/shipping">Ship</a></li>
  <li><a class="sub-nav" href="/tracking">Track</a></li>
  <li><a class="sub-nav" href="/logic">Logistics</a></li>
  <li><a class="sub-nav" href="/signup">Sign Up</a></li>
</ul>
</div>
</div>
