<div class="container">
<form id="myform" class="mysign-in" action="/tracking" method="post">
    <div class="col-xs-6">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <div id="errors">
    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
  </div>

  <div class="form-container">
    <div class="col-xs-6">
  <input type="text" name="[tracking_code]" class="form-control" placeholder="Track code" required>
  <input type="text" name="[carrier]" class="form-control" placeholder="Carrier" required>
   </div>
   <div class="btn">
     <button type="submit" class="btn btn-basic "></span>Tracking Shipment</button>
 </div>
 </div>
</div>
