// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{background: #f3f3f3; color: #0c0a0a;}

     ul.nav li a, ul.nav li a:visited {
      color: #fff !important;
      font-weight: bolder;
  }
  ul.nav li a:hover, ul.nav li a:active {
      color: #fff !important;
      background-color:rgba(36,56,103,0.5) !important;
      border-bottom: 1px solid rgb(26,40,77);

  }
  ul.nav li.active a {
      color: #fff !important;

  }
  ul.nav{margin-right:45px;}
  label{color: rgb(15,10,12); display: block; font-size: 16px; line-height: 30px; font-weight: 400; margin-bottom: 5px; }
  input[type=text]{width: 100% !important; display: block;}
  input[type=password]{width: 100% !important; display: block;}
   .brand{font-weight: bold;font-size: 38.2px; margin-bottom: 20px;}
   .brand a{color: ghostwhite !important;}
   .brand a:hover{ background:none; text-decoration: none !important;}
   .sub-nav{font-weight: 600; color: white;}
   .top-header{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(79,89,152, 0.4);
    background: linear-gradient(to left, rgba(92, 38, 132, 0.7) 0%, rgba(79, 92, 153, 0.6) 58%, rgba(0, 0, 0, 0.8) 100%), url("http://apod.nasa.gov/apod/image/1510/M16HubbleV4-X3walker1024.jpg");
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
   }
   .fold-board{
     background: #5C258D; /* fallback for old browsers */
     background: -webkit-linear-gradient(to left, #5C258D , #4389A2), url("track.jpg"); /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to left, #5C258D , #4389A2), url("track.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-repeat: no-repeat;
     background-size: 100% 1000px;
     box-sizing: border-box;
     color: rgb(63, 63, 68);
     font-family: benton-sans,"Helvetica Neue",helvetica,arial,sans-serif;
     font-size: 14px;
     line-height: 20px;
     height: 500px;

   }
   .internal-fold{
     background: #ECE9E6; /* fallback for old browsers */
     background: -webkit-linear-gradient(to left, #e5ece5 , #f1ffff); /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to left, #e5ece5 , #f1ffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-repeat: no-repeat;
     background-size: 100% 1000px;
     box-sizing: border-box;
     color: rgb(63, 63, 68);
     font-family: benton-sans,"Helvetica Neue",helvetica,arial,sans-serif;
     font-size: 14px;
     line-height: 20px;
     height: auto;
   }
   .user-hello{ background: rgb(255, 255, 255);
      width: 98.7%;
      border-left:1px solid white;
      border-bottom-left: 1px solid white;
      border-bottom-right: 1px solid white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
}
   .user-hello-copy{
     color: #1f2120;
     font-weight: normal;
     font-size: 16.6px;
     padding: 8px;
   }
   .time-clock{
     margin-right: 28px;
     font-weight: 600;
   }
   .copy-imp{font-size: 21px; line-height: 26px;font-weight: 300;}
   .summary{
     font-size: 16.2px;
     font-weight: 600;
     line-height: 15.8833px;
     text-transform: uppercase;
     border-radius: 6px;
     padding: 4px;
     width: auto;
     margin-right: 45px;
   }
   .temp{
     font-size: 58.2px;
     font-weight: 700;
     line-height: 18.8833px;
     margin-top: 28px;
   }
   .sup{
     font-size: 28.2px;
     font-weight: bolder;
   }
   .jumbo-title{
    border-spacing: 0px 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
    font-size: 38.2px;
    font-weight: 700;
    line-height: 16.8833px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
   }
   .jumbo-purpose{color:#fff; font-size: 18.5px; line-height: 31.5px; font-weight: 300;
     margin-left: 10px; margin-bottom: 30px;}

   .section-title{color: rgb(15,12,14); font-size:18px; font-weight: 700;
    line-height: 30px; margin-bottom: 10px;}
    .ship-block{
      color:white;
    }
    .track-block{
      color:white;
    }
    .form-control{margin-bottom: 10px;}
    .pack-icon{margin-top: 150px;}
    .print-label{ padding-top: 180px;}
    .btn-basic {
      display: block;
      color: white;
      font-weight: 700;
      line-height: 16px;
      background: rgb(44,56,97);
      background-size:auto;
      background-clip: border-box;
      border-radius: 5px;
      text-align: center;
      max-width: 260px;
    }
    .btn-basic a{color: white;}
    .footsie{margin-top: 40px;}
