// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label{color: rgb(140, 140, 140); display: block; font-size: 16px; line-height: 30px; font-weight: 400; margin-bottom: 5px; }
input[type=text]{width: 100% !important; display: block;}
input[type=password]{width: 100% !important; display: block;}
