
  <table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>To</th>
      <th>From</th>
      <th>Tracking Code</th>
      <th>Cost</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>2015-11-21 09:12 </td>
        <td>Vanessa Bransburg </td>
        <td>Jonathan Figueroa</td>
        <td>9499907123456123456781</td>
        <td>$3.07</td>
        <td><a href="http://assets.geteasypost.com/postage_labels/labels/20151121/f26974f8f56c4b8c8ca58b056870d7a1.png" target="_blank"><strong>View</strong></a></td>
      </tr>
      <tr>
        <td>2015-11-21 07:46 </td>
        <td>Vanessa Bransburg </td>
        <td>Jonathan Figueroa</td>
        <td>9499907123456123456781</td>
        <td>$3.44</td>
        <td><a href="http://assets.geteasypost.com/postage_labels/labels/20151121/d9dc9e17047a4dbe909292369d49f07b.png" target="_blank"><strong>View</strong></a></td>
      </tr>
      <tr>
        <td>2015-11-20 20:39  </td>
        <td>Vanessa Bransburg </td>
        <td>Jonathan Figueroa</td>
        <td>9499907123456123456781</td>
        <td>$9.97</td>
        <td><a href="http://assets.geteasypost.com/postage_labels/labels/20151120/056b3b2e008a40debb057b5f5fa436fd.png" target="_blank"><strong>View</strong></a></td>
      </tr>
  </tbody>
</table>
